*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body
{
	color:rgb(255, 255, 255);
	background-color: rgb(30, 30, 30);
}

p
{
	font-size: 18px;
	font-weight: 500;
}

.link
{
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.link:hover
{
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.block
{
	background-color: rgb(55, 55, 55);
}

.fas, .fab
{
	font-size: 25px;
}

.wrapper
{
	width: 100%;
	height: 100vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	.container
	{
		max-width: 1200px;
		width: 100%;
		height: 80vh;
		display: flex;
		flex-direction: column;
		margin: 0 auto;
	}
}

.content
{
	position: relative;
	width: 100%;
	height: 100%;
	display: grid;
	grid-gap: 25px;
	grid-template-columns: 25% 75%;
	grid-template-rows: 50% 50%;

	.item
	{
		position: relative;
		width: 100%;
		height: 100%;
	}
}

.photo
{
	width: 100%;
	height: 100%;
	background-image: url(../image/myPhoto.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
}

.info
{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
	background-color: rgb(55, 55, 55);
	border-radius: 10px;
	padding: 15px 35px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    align-content: stretch;


	h2, h3
	{
		font-size: 36px;
		font-weight: 700;
		margin-bottom: 10px;
	}

	& > *
	{
		width: 100%;
	}


	.position
	{
		font-size: 24px;
	}

	.skills
	{
		display: flex;
		flex-direction: column;

		.skills-box
		{
			display: flex;
			flex-direction: row;
			
			.item
			{
				height: 100%;
				padding: 10px 15px;
				border-radius: 5px;
				margin: 0px 10px 0px 0;
				font-size: 16px;
				font-weight: 700;
				text-align: center;

				&:nth-child(odd)
				{
					background-color: rgb(35, 125, 30);
				}
				&:nth-child(even)
				{
					background-color: rgb(50, 125, 211);
				}
			}
		}
	}

	.projects
	{
		display: flex;
		flex-direction: column;

		.cards_projects
		{
			display: flex;
			flex-direction: row;
			align-items: center;
			.card
			{
				padding: 45px;
				background-color: rgb(70, 70, 70);
				border-radius: 10px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin-right: 30px;
				width: 100%;
				font-size: 24px;
				font-weight: 700;
				transition: 0.5s;

				&:last-child
				{
					margin-right: 0;
				}

				&:hover
				{
					box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.3);
					transition: 0.5s;
				}
			}
		}
	}
}

.contact
{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	color: rgb(255, 255, 255);

	.block
	{
		margin-bottom: 25px;
	}

	.sm-block
	{
		width: 100%;
		height: 60px;
		display: flex;
		flex-direction: row;
		border-radius: 10px;
		overflow: hidden;

		a.link
		{
			position: relative;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			transition: 1s;
			overflow: hidden;
			border-right: 1px solid rgb(100, 100, 100);
			
			&:last-child
			{
				border-right: none;
			}

			&::before
			{
				content: '';
				position: absolute;
				align-items: center;
				width: 100%;
				height: 100%;
				background-color: white;
				border-radius: 50%;
				transition: 0.5s linear;
				transform: scale(0);
			}

			&:hover:nth-child(1)
			{
				color: rgb(255, 65, 65);
				transition: 0.5s linear;				
			}

			&:hover:nth-child(2)
			{
				color: rgb(58, 150, 255);
				transition: 0.5s linear;				
			}

			&:hover:nth-child(3)
			{
				color: rgb(58, 150, 255);
				transition: 0.5s linear;				
			}

			&:hover:nth-child(4)
			{
				color: rgb(0, 0, 0);
				transition: 0.5s linear;				
			}

			&:hover::before
			{
				transition: 0.5s linear;
				transform: scale(2);
			}

			i
			{
				z-index: 100;
			}
		}
	}

	.gen_info
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		border-radius: 10px;

		.item
		{
			width: 100%;
			height: 100%;
			position: relative;
			display: flex;
			flex-direction: row;
			align-items: center;
			text-align: center;
			border-bottom: 1px solid rgb(100, 100, 100);

			*:nth-child(1)
			{
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 10px 25px;	
				height: 100%;
			}

			*:nth-child(2)
			{
				display: flex;
				justify-content: center;
				align-items: center;	
				height: 100%;
				width: 100%;
				text-align: center;
				font-size: 16px;
				font-weight: 700;
			}

			&:last-child
			{
				border-bottom: none;
			}
		}
	}
}