// Icon
.icon-link
  padding: $link-pd
.icon_size
  font-size: 2rem 

// List
.list 
  display: flex
.list-row
  flex-direction: row
.list-wrap
  flex-wrap: wrap
.list-center
  justify-content: center

// Text
.txt-center
  text-align: center
