@import "normalize.css"
@import "default.sass"
@import "variables.sass"
@import "themes.sass"

@import "components.sass"

body
  font-family: system-ui
  font-size: 1rem
  position: relative
  cursor: default

.container
  width: 100vw
  max-width: 1200px
  margin: 0 auto
  display: flex 
  align-items: center

.profile
  display: flex
  flex-direction: column
  justify-content: end

  width: 600px
  margin: 10px auto
  border-radius: $border-radius
  overflow: hidden

  @media screen and (max-width: 550px)
    border-radius: 0px 
    margin: 0

.profile__img
  width: 100%
  object-fit: cover

.profile__body
  padding: 10px

.profile__title-position
  margin-bottom: 10px

.profile__title
  text-align: center

.profile__social > *
  margin: 10px
  border-radius: $border-radius - 5
  transition: 0.5s

.profile__social > *:hover
  transform: scale(1.1)
  transition: 0.5s

  @media screen and (max-width: 550px)
    transition: none
    transform: none

.profile__skills
  justify-content: center

.profile__skills > *
  border-radius: $border-radius - 5
  padding: 5px
  margin: 5px

.profile__skills > *:not(*:last-child)
  margin-right: 10px



