
@media (prefers-color-scheme: dark)
  $bg-color: #11111b
  $fg-color: #1e1e2e

  $txt-color: #cdd6f4
  $subtxt-color: #bac2de

  $mail-color: #ff4141
  $tg-color: #3a96ff
  $gh-color: black
  $linkedin-color: #0a66c2

  $link-hover-active-color: #0378ff

  body
    background-color: $bg-color 
    color: $txt-color

  .profile
    background-color: $fg-color

  .profile__position
    text-color: $subtxt-color

  .profile__social > *
    background-color: #f5e0dc

  .profile__skills > *
    color: $fg-color

  .profile__link_mail
    color: $mail-color
  .profile__link_tg
    color: $tg-color
  .profile__link_gh
    color: $gh-color
  .profile__link_linkedin
    color: $linkedin-color
  .profile__link:hover
    color: $link-hover-active-color
    @media screen and (max-width: 550px)
      color: inherit

@media (prefers-color-scheme: light)
  $bg-color: #dce0e8
  $fg-color: #eff1f5

  $txt-color: #4c4f69
  $subtxt-color: #5c5f77

  $mail-color: #ff4141
  $tg-color: #3a96ff
  $gh-color: black
  $linkedin-color: #0a66c2

  $link-hover-active-color: #0378ff

  body
    background-color: $bg-color 
    color: $txt-color

  .profile
    background-color: $fg-color

  .profile__position
    text-color: $subtxt-color

  .profile__skills > *
    color: $fg-color

  .profile__link_mail
    color: $mail-color
  .profile__link_tg
    color: $tg-color
  .profile__link_gh
    color: $gh-color
  .profile__link_linkedin
    color: $linkedin-color
  .profile__link:hover
    @media screen and (min-width: 550px)
      color: $link-hover-active-color
